/Dissolve.sln
/Logs
/obj
/Temp
/Assembly-CSharp.csproj
/.vs
Library
/ProjectSettings/AudioManager.asset
/ProjectSettings/ClusterInputManager.asset
/ProjectSettings/DynamicsManager.asset
/ProjectSettings/EditorBuildSettings.asset
/ProjectSettings/EditorSettings.asset
/ProjectSettings/GraphicsSettings.asset
/ProjectSettings/InputManager.asset
/ProjectSettings/NavMeshAreas.asset
/ProjectSettings/NetworkManager.asset
/ProjectSettings/Physics2DSettings.asset
/ProjectSettings/PresetManager.asset
/ProjectSettings/QualitySettings.asset
/ProjectSettings/TagManager.asset
/ProjectSettings/TimeManager.asset
/ProjectSettings/UnityConnectSettings.asset
/ProjectSettings/VFXManager.asset
